<%# locals: (title:, &block) %>
<div class="rounded-xl border border-stroke bg-white p-6 shadow-lg dark:border-stroke-dark dark:bg-boxdark">
  <h3 class="mb-5 text-lg font-semibold text-gray-900 dark:text-white"><%= title %></h3>
  <%= yield %>
</div>
